nav#navbar.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      .col-lg-3
        a(href="/")
          img.hidden-xs.hidden-md.logo(src="public/images/logo.kompedent.svg",alt="kompeDent Zahntechnik")
      .col-lg-9
        .navbar-header
          button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target=".kompedent-navbar-collapse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img.visible-xs.visible-md.logo(src="public/images/logo.kompedent.svg",alt="kompeDent Zahntechnik")
        #navbar.collapse.navbar-collapse.kompedent-navbar-collapse
          ul.nav.navbar-nav.kompedent-nav
            li(class=current.source == "index" ? "active" : "")
              a(href='/') Philosophie
            li(class=current.source == "kompetenz" ? "active" : "")
              a(href='/kompetenz.html') Kompetenz
            li(class=current.source == "service" ? "active" : "")
              a(href='/service.html') Service
            li(class=current.source == "experten" ? "active" : "")
              a(href='/experten.html') Experten
            li(class=current.source == "einblicke" ? "active" : "")
              a(href='/einblicke.html') Einblicke
            li(class=current.source == "kontakt" ? "active" : "")
              a(href='/kontakt.html') Kontakt
            li(class=current.source == "impressum" ? "active" : "")
              a(href='/impressum.html') Impressum
