div.container.einblicke.content
  div.row
    div.col-lg-9.col-lg-offset-3
      div.table-responsive
        table.table
          tr
            td(rowspan=2)
              img(src=bilder[18])
            td
              img(src=bilder[16])
            td
              img(src=bilder[15])
          tr
            td
              img(src=bilder[14])
            td(rowspan=2)
              img(src=bilder[13])
          tr
            td
              img(src=bilder[17])
            td(rowspan=2)
              img(src=bilder[12])
          tr
            td
              img(src=bilder[10])
            td
              img(src=bilder[9])
          tr
            td(rowspan=2)
              img(src=bilder[8])
            td
              img(src=bilder[7])
            td
              img(src=bilder[6])
          tr
            td
              img(src=bilder[4])
            td(rowspan=2)
              img(src=bilder[5])
          tr
            td
              img(src=bilder[3])
            td
              img(src=bilder[2])
          tr
            td(colspan=2)
              img(src=bilder[0])
            td
              img(src=bilder[1])
