div.container.content
  div.row
    div.col-lg-3
      #sidebar.hidden-md
        h4.text-right Experten
        ul.list-unstyled.text-right
          for experte in experten
            li
              a(href='##{experte.vorname.toLowerCase()}#{experte.vorname.toLowerCase()}') #{experte.vorname} #{experte.nachname}
    div.col-lg-9
      for experte in experten
        div.panel.panel-kompedent(id='#{experte.vorname.toLowerCase()}#{experte.vorname.toLowerCase()}')
          div.panel-heading
            h2
              strong.pull-left #{experte.vorname} #{experte.nachname}
              ul.list-inline
                for aufgabe in experte.aufgaben
                  li= aufgabe
          div.panel-body
            img.img-responsive(src=experte.bild)
          div.panel-footer
            ul.list-inline.experten-details
              li
                img(src='public/images/icon.email.schwarz.svg',width="32",height="32")
                strong= experte.email
              li
                img(src='public/images/icon.telefon.schwarz.svg',width="32",height="32")
                strong= experte.telefon
            div(style="margin-top:15px;") &nbsp;
            if experte.vita.length > 0
              div
                h5 Werdegang
                dl.dl-horizontal
                  for ereignis in experte.vita
                    dt= ereignis.zeitraum
                    dd= ereignis.text
            if experte.fortbildungen.length > 0
              div
                h5 Fortbildungen
                ul
                  for fortbildung in experte.fortbildungen
                    li= fortbildung

            p= experte.beschreibung
