.hello

.parallax
  section.slide.parallax-window(id='verantwortung',data-image-src=sections.verantwortung.bild,data-parallax="scroll")
    div
      h1.animated-right.slogan!=sections.verantwortung.titel
      img.animated-left.claim.hidden-xs(src="public/images/claim.mehr-halten.weiss.transparent.svg",width="620",height="68")
      .text-center
        h4.scrollen
          |  Scrollen
          br
          img(src="public/images/scroll-down.svg",width="40",height="15")

  section.kompedent-grau.marker
    div.container
      .row
        .col-lg-8
          h1!=sections.verantwortung.untertitel
      .row
        .col-lg-12
          p=sections.verantwortung.beschreibung

  section.slide.parallax-window(id='herkunft',data-image-src=sections.herkunft.bild,data-parallax="scroll")
    div
      h1.slogan!=sections.herkunft.titel
      img.claim.hidden-xs(src="public/images/claim.mehr-halten.weiss.transparent.svg",width="620",height="68")

  section.kompedent-grau.marker
    div.container
      .row
        .col-lg-8
          h1!=sections.herkunft.untertitel
        .col-lg-4
          img.pull-right.hidden-xs.img-responsive(src="public/images/zaehne.png",width="300",style="padding-top: 33px;")
      .row
        .col-lg-12
          p=sections.herkunft.beschreibung

  section.slide.parallax-window(id='region',data-image-src=sections.region.bild,data-parallax="scroll")
    div
      h1.slogan!=sections.region.titel
      img.claim.hidden-xs(src="public/images/claim.mehr-halten.weiss.transparent.svg",width="620",height="68")

  section.kompedent-grau.marker
    div.container
      .row
        .col-lg-8
          h1!=sections.region.untertitel
      .row
        .col-lg-12
          p=sections.region.beschreibung

  section.slide.parallax-window(id='team',data-image-src=sections.team.bild,data-parallax="scroll")
    div
      h1.slogan!=sections.team.titel
      img.claim.hidden-xs(src="public/images/claim.mehr-halten.weiss.transparent.svg",width="620",height="68")

  section.kompedent-grau.marker
    div.container
      .row
        .col-lg-8
          h1!=sections.team.untertitel
      .row
        .col-lg-12
          p=sections.team.beschreibung
